body {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Bangers", cursive;
  background-image: url("../src/Images/background1.png");
  background-size: 100%;
}

h1 {
  letter-spacing: 0.2em;
}

p {
  letter-spacing: 0.1em;
}

.leaflet-container {
  width: 75%;
  height: 500px;
  top: 20px;
  left: 20px;
}

.regions {
  font-family: "Bangers", cursive;
  font-size: 1em;
  letter-spacing: 0.1em;
  list-style-type: none;
}

.main {
  display: flex;
  justify-content: flex-start;
}

.leaflet-popup-content {
  font-family: "Bangers", cursive;
  letter-spacing: 0.15em;
}

.leaflet-popup-content h3,
h4 {
  text-align: center;
}

.list {
  align-self: center;
  list-style-type: none;
  padding-left: 3em;
  text-align: start;
  font-size: 1.5em;
}

.list li {
  padding: 0.7em;
}

.list li:hover {
  color: #0000cd;
  text-shadow: 1px 1px 3px #f8f8ff;
}
