body {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Bangers", cursive;
}

h1 {
  letter-spacing: 0.2em;
}

p {
  letter-spacing: 0.1em;
}

.leaflet-container {
  width: 75%;
  height: 500px;
  top: 20px;
  left: 20px;
}

.regions {
  font-family: "Bangers", cursive;
  letter-spacing: 0.1em;
  list-style-type: none;
}

.main {
  display: flex;
  justify-content: flex-start;
}

.list {
  align-self: center;
  list-style-type: none;
  padding-left: 3em;
  text-align: start;
}

.list li {
  padding: 0.7em;
}
